.go-back-link {
    align-items: center;
    display: flex;
    font-size: 1rem;
    text-decoration: none;

    &:visited {
        color: initial;
    }

    &__arrow {
        &.material-icons {
            font-size: 2rem;
        }
    }
}
