.beer-card {
    align-items: center;
    justify-content: space-between;
    padding: $space-separation;

    &.md-card {
        display: flex;
    }

    &__details {
        align-items: baseline;
        display: flex;
        flex: 0 0 85%;
        flex-direction: column;
    }

    &__favorite {
        flex: 0 0 5%;
    }

    &__icon {
        background-color: $color-gray;
        display: flex;
        flex: 0 0 10%;
        height: 64px;
        margin-right: $space-separation-small;
        width: 64px;
    }
}
