$color-gray: #ECECEC;
$color-green: #00D991;
$color-red: #FF0000;
$color-white: #FFFFFF;

$space-separation: 1rem;
$space-separation-negative: -$space-separation;
$space-separation-minuscule: $space-separation / 16;
$space-separation-tiny: $space-separation / 8;
$space-separation-little: $space-separation / 4;
$space-separation-small: $space-separation / 2;
$space-separation-large: $space-separation * 2;
$space-separation-huge: $space-separation * 4;
$space-separation-big: $space-separation * 8;
$space-separation-gigantic: $space-separation * 16;
