.beer-details {
    padding: $space-separation;

    &--empty {
        padding-top: $space-separation-huge;
        text-align: center;
    }

    &__name {
        font-size: 2rem;
        font-weight: bold;
        margin-right: $space-separation;
    }

    &__header {
        display: inline-block;
    }

    &__image {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__style {
        display: flex;
        justify-content: space-around;
    }

    &__title {
        align-items: center;
        display: flex;
        margin-bottom: $space-separation-large;
    }
}
