.certified-organic {
    background-color: $color-gray;
    border-radius: 10px;
    color: $color-white;
    display: initial;
    font-size: 1rem;
    font-weight: normal;
    padding: $space-separation-small;

    &--is-organic {
        background-color: $color-green;
    }

    &--not-organic {
        background-color: $color-red;
    }
}
