.beer-style {
    max-width: 20rem;

    &__attribute {
        border-top: 1px solid $color-gray;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        line-height: 3rem;
    }

    &__title {
        color: black;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
    }

    &__characteristics {
        text-align: center;
    }
}
